<a href="https://colab.research.google.com/github/rohanroney/email-campaign-effectiveness-prediction/blob/main/Rohan_Roney_Capstone_Project_Email_Campaign_Effectiveness_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Problem Statement:
Most of the small to medium business owners are making effective use of Gmail-based Email marketing Strategies for offline targeting of converting their prospective customers into leads so that they stay with them in Business. 
The main objective is to create a machine learning model to characterize the mail and track the mail that is ignored; read; acknowledged by the reader.

## EDA - Understanding the Data

In [1]:
# Importing the libraries

import pandas as pd
import numpy as np

In [4]:
# Loading the dataset
df = pd.read_csv("/content/drive/MyDrive/AlmaBetter/Cohort Nilgiri/Module 3/Capstone Project - Email Campaign Effectiveness Prediction/data_email_campaign.csv")

In [5]:
df.head()

            Email_ID  Email_Type  ...  Total_Images  Email_Status
0  EMA00081000034500           1  ...           0.0             0
1  EMA00081000045360           2  ...           0.0             0
2  EMA00081000066290           2  ...           0.0             1
3  EMA00081000076560           1  ...           0.0             0
4  EMA00081000109720           1  ...           0.0             0

[5 rows x 12 columns]

In [6]:
df.shape

(68353, 12)

* Hence there are 12 features.
* The target variable here is "Email_Status"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68353 entries, 0 to 68352
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Email_ID                   68353 non-null  object
 1   Email_Type                 68353 non-null  int64
 2   Subject_Hotness_Score      68353 non-null  float64
 3   Email_Source_Type          68353 non-null  int64
 4   Customer_Location          56758 non-null  object
 5   Email_Campaign_Type        68353 non-null  int64
 6   Total_Past_Communications  61528 non-null  float64
 7   Time_Email_sent_Category   68353 non-null  int64
 8   Word_Count                 68353 non-null  int64
 9   Total_Links                66152 non-null  float64
 10  Total_Images               66676 non-null  float64
 11  Email_Status               68353 non-null  int64
dtypes: float64(4), int64(6), object(2)
memory usage: 6.3+ MB

We can observe that there are a lot of null values for features like Customer_Location, Total_Past_Communications, Total_Links and Total_Images.

In [9]:
df.describe()

         Email_Type  Subject_Hotness_Score  ...  Total_Images  Email_Status
count  68353.000000           68353.000000  ...  66676.000000  68353.000000
mean       1.285094               1.095481  ...      3.550678      0.230934
std        0.451462               0.997578  ...      5.596983      0.497032
min        1.000000               0.000000  ...      0.000000      0.000000
25%        1.000000               0.200000  ...      0.000000      0.000000
50%        1.000000               0.800000  ...      0.000000      0.000000
75%        2.000000               1.800000  ...      5.000000      0.000000
max        2.000000               5.000000  ...     45.000000      2.000000

[8 rows x 10 columns]